.customSelect .ant-select-selector {
  min-height: 35px !important;
  padding: 3px 0px !important;
  border-radius: 8px !important;
  min-width: 100px !important;
.ant-select-selection-placeholder{
  padding-left: 8px;
  left: 0px;

}
.ant-select-selection-item {
  padding-left: 8px;

}
}

